<div class="input">
  <div class="label">
    <label>Семейное положение<span class="required">*</span></label>
  </div>

  <div ngbDropdown class="select">
    <button class="select" id="dropdown" ngbDropdownToggle [ngClass]="{ 'active': isSelectActive }">
      <p>{{ selectedItem.title }}</p>
      <div class="arrow"></div>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown">
      <button
        ngbDropdownItem
        *ngFor="let item of choices"
        (click)="selectItem(item.id)"
        [ngClass]="{ 'active': selectedItem.id === item.id }"
      >
        {{ item.title }}
      </button>
    </div>
  </div>
</div>
