<div class="input">
  <div class="label">
    <label>Семейное положение<span class="required">*</span></label>
  </div>

  <div class="select">
    <button type="button" class="select" (click)="onSelect()" [ngClass]="{ 'active': isSelectActive }">
      <p>
        {{ selectedItem.title }}
      </p>
      <div class="arrow"></div>
    </button>
    <div class="select-list" [ngClass]="{ 'active': isSelectActive }">
      <ul>
        <li
          class="select-list__element"
          *ngFor="let item of testingArray"
          [ngClass]="{ 'active': selectedItem.id === item.id }"
          (click)="selectItem(item.id)"
        >
          {{ item.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
