<div class="checkbox-wrapper">
  <div class="col">
    <div class="label">
      <label
        >{{ title }}<span class="required" *ngIf="isRequired">*</span></label
      >
    </div>

    <div class="checkboxes">
      <div class="checkbox" *ngFor="let checkbox of checkBoxes">
        <input type="checkbox" [checked]="checkbox.checked" />
        <label>{{ checkbox.title }}</label>
      </div>

      <div class="checkbox" *ngIf="isIncludingCheckAll">
        <input type="checkbox" (click)="checkAll()" />
        <label><strong>Выделить все</strong></label>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Configures">
      <button (click)="moveUp()" type="button" class="btn btn-secondary">
        <i class="fas fa-chevron-up"></i>
      </button>
      <button (click)="moveDown()" type="button" class="btn btn-secondary">
        <i class="fas fa-chevron-down"></i>
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fas fa-tools"></i>
      </button>
      <button (click)="remove()" type="button" class="btn btn-secondary">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
</div>
